.card {
    box-shadow: 0 0.250em 0.5em 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 0.313em;
    float: left;
    margin: 1.500em;
}

.card:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 0.313em 0.313em 0 0;
    float: right
}

.container {
    padding: 0em 0em;
}

.title {
  text-align: center;
}
.open {
  text-align: right;
   border-top-style: solid;
   border-width: 0.063em;
}

table, th, tr, td {
    border: 0.063em solid black;
}
.star {
  width: 1.500em;
  height: 1.500em;
}

button.btn.btn-info.info {
  float: left;
}

button.btn.btn-info.desc {
  float: right;
}
